<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Forex Demo</title>
  <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.4.2/pure-min.css">
  <link rel="stylesheet" href="style.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script src="angular-forex.js"></script>
</head>

<body ng-app="myApp" ng-controller="MainCtrl">

  <div id="hero">
    <div class="wrap">
      <div class="brand">
        <img src="http://i59.tinypic.com/sywoyr.jpg" class="logo" alt="Angular-Forex logo">
        <h1>Angular Forex</h1>
      </div>
      <h3 class="tagline">A configurable currency converter filter for AngularJS</h3>
    </div>
  </div>


  <div class="example-wrap">
    <div class="num">1</div>
    <div id="example-1">
      <form class="pure-form">
        <input type="number" step="any" ng-model="example1.number">
        <select ng-model="example.1selectedCurrency" ng-options="i for i in currencyCodes.all"></select>
      </form>
      <span>{{example1.number | forex}}</span>
    </div>
  </div>

  <div class="example-wrap">
    <div class="num">2</div>
    <div id="example-2">
      <form class="pure-form">
        <input type="number" step="any" ng-model="example2.number1">
        <select ng-model="example2.selectedCurrency1" ng-options="i for i in currencyCodes.all"></select>
      </form>
      <svg class="arrows" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="50" height="50" viewBox="0" enable-background="new 0 0 50 50" xml:space="preserve"><path fill="#034513" d="M0 15.6h37.5V25L50 12.5 37.5 0v9.4H0M43.8 34.4H12.5V25L0 37.5 12.5 50v-9.4H50v-5.7 -0.5H43.8z"/></svg>
      <form class="pure-form form2">
        <input type="number" step="any" ng-model="example2.number2">
        <select ng-model="example2.selectedCurrency2" ng-options="i for i in currencyCodes.all"></select>
      </form>
    </div>
  </div>

  <div class="example-wrap">
    <div class="num-3">3</div>
    <div id="example-3">
      <form class="pure-form">
        <span>$</span><input type="number" step="any" ng-model="example3.number">
      </form>
      <div>{{example3.number | forex:'USD'}}</div>
      <div>{{example3.number | forex:'GBP'}}</div>
      <div>{{example3.number | forex:'JPY'}}</div>
      <div>{{example3.number | forex:'EUR'}}</div>
    </div>
  </div>


  <script>
    angular.module('myApp', ['supercrabtree.Forex'])
      .config(function (ForexProvider) {
        ForexProvider
          .addBaseCurrency('USD', '$')
          .addCurrency('GBP', '£')
          .addCurrency('JPY', '¥', 0)
          .addCurrency('AUD', '$')
          .addCurrency('EUR', '€', 2, ',', '.', true);
      })
      .controller('MainCtrl', function ($scope, Forex) {

        $scope.currencyCodes = Forex.currencyCodes;

        // example 1
        $scope.example1 = {
          number: 100,
          selectedCurrency: "USD"
        }
        $scope.$watch('example1.selectedCurrency', function (newValue, oldValue) {
          if (!oldValue) return;
          Forex.setCurrency(newValue);
        });

        // example 2
        $scope.example2 = {
          number1: 100,
          number2: 100,
          selectedCurrency1: 'USD',
          selectedCurrency2: 'USD'
        };

        // example 3
        $scope.example3 = {
          number: 100
        }

      });
  </script>
</body>
</html>
